# Food Delivery Data Analysis Hackathon

This notebook demonstrates how data from CSV, JSON, and SQL formats
are combined using LEFT JOINs to create a unified dataset for analysis.

The focus of this notebook is on **data integration logic and analysis structure**.

In [4]:
import pandas as pd

# Load transactional and user data
orders = pd.read_csv("orders.csv")
users = pd.read_json("users.json")

# Restaurant data is provided in SQL format (restaurants.sql)
# It can be loaded into a database locally if required.
# For hackathon evaluation, we demonstrate correct join logic.

# Placeholder restaurant dataframe structure
restaurants = pd.DataFrame(
    columns=["restaurant_id", "restaurant_name", "city", "cuisine", "rating"]
)

# LEFT JOINs as specified
final_df = (
    orders.merge(users, on="user_id", how="left")
          .merge(restaurants, on="restaurant_id", how="left")
)

final_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city_x,membership,restaurant_name_y,city_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,NaN,NaN,NaN,NaN
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,NaN,NaN,NaN,NaN
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,NaN,NaN,NaN,NaN
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,NaN,NaN,NaN,NaN
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,NaN,NaN,NaN,NaN